
@import './HelloWorld.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text_center{
  text-align: center;
  margin: auto;
}

.btn{
  background-color: #BA4F09;
  border: none;
  color: white;
  padding: 10px;
  &:hover{
    background-color: #C36528;
  }
  &:active{
    background-color: #CB7B47;
  }
}


